In [1]:
#4.1 Steps for Data Transformation
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [8]:
#Step 2

datasets=pd.read_csv('/content/drive/MyDrive/SEM-6/Ml/Lab2/Data_for_Transformation.csv')
print(datasets)

# datasets.describe()


#Step 3: Seperate Input and Output attributes
X=datasets.iloc[:,:-1].values
Y=datasets.iloc[:,-1].values 

# print(X)
# print(Y)

X_new =datasets.iloc[:,1:3].values
print(X_new)

    Country  Age  Salary Purchased
0    France   44   72000        No
1     Spain   27   48000       Yes
2   Germany   30   54000        No
3     Spain   38   61000        No
4   Germany   40   68000       Yes
5    France   35   58000       Yes
6     Spain   39   52000        No
7    France   48   79000       Yes
8   Germany   50   83000        No
9    France   37   67000       Yes
10    Spain   45   55000        No
[[   44 72000]
 [   27 48000]
 [   30 54000]
 [   38 61000]
 [   40 68000]
 [   35 58000]
 [   39 52000]
 [   48 79000]
 [   50 83000]
 [   37 67000]
 [   45 55000]]

In [5]:
#Step 4: Perform scaling on age and salary

scaler=MinMaxScaler()
Xscaled=scaler.fit_transform(X_new)
print(Xscaled)

[[0.73913043 0.68571429]
 [0.         0.        ]
 [0.13043478 0.17142857]
 [0.47826087 0.37142857]
 [0.56521739 0.57142857]
 [0.34782609 0.28571429]
 [0.52173913 0.11428571]
 [0.91304348 0.88571429]
 [1.         1.        ]
 [0.43478261 0.54285714]
 [0.7826087  0.2       ]]

In [6]:
#Step 5: Perform standardization on age and salary
#Mean=0 and Standard Deviation=1

std=StandardScaler()
Xstd=std.fit_transform(X_new)
print(Xstd)

[[ 0.68188156  0.79548755]
 [-1.81835082 -1.41513049]
 [-1.37713334 -0.86247598]
 [-0.2005534  -0.21771238]
 [ 0.09359159  0.42705121]
 [-0.64177088 -0.49403964]
 [-0.05348091 -1.04669415]
 [ 1.27017153  1.44025115]
 [ 1.56431652  1.80868749]
 [-0.34762589  0.33494213]
 [ 0.82895405 -0.77036689]]

In [20]:
#4.2 Steps for Handling Categorical Data

from sklearn.preprocessing import LabelEncoder,OneHotEncoder

#Step2: Load Data

datasets=pd.read_csv('/content/drive/MyDrive/SEM-6/Ml/Lab2/Data_for_Categorical_Values.csv')
print(datasets)
datasets.describe()

    Country  Age  Salary Purchased
0    France   44   72000        No
1     Spain   27   48000       Yes
2   Germany   30   54000        No
3     Spain   38   61000        No
4   Germany   40   68000       Yes
5    France   35   58000       Yes
6     Spain   39   52000        No
7    France   48   79000       Yes
8   Germany   50   83000        No
9    France   37   67000       Yes
10    Spain   45   55000        No

             Age        Salary
count  11.000000     11.000000
mean   39.363636  63363.636364
std     7.131237  11386.594989
min    27.000000  48000.000000
25%    36.000000  54500.000000
50%    39.000000  61000.000000
75%    44.500000  70000.000000
max    50.000000  83000.000000

In [18]:
#Step 3

X=datasets.iloc[:,:-1].values
Y=datasets.iloc[:,-1].values

print(X)
print(Y)

[[ 1  0  0 44]
 [ 0  0  1 27]
 [ 0  1  0 30]
 [ 0  0  1 38]
 [ 0  1  0 40]
 [ 1  0  0 35]
 [ 0  0  1 39]
 [ 1  0  0 48]
 [ 0  1  0 50]
 [ 1  0  0 37]
 [ 0  0  1 45]]
[72000 48000 54000 61000 68000 58000 52000 79000 83000 67000 55000]

In [19]:
#Step 4a: Apply LabelEncoder on the data to convert 
#         country names into numeric values

le=LabelEncoder()
X[:,0]=le.fit_transform(X[:,0])
print(X)

[[ 1  0  0 44]
 [ 0  0  1 27]
 [ 0  1  0 30]
 [ 0  0  1 38]
 [ 0  1  0 40]
 [ 1  0  0 35]
 [ 0  0  1 39]
 [ 1  0  0 48]
 [ 0  1  0 50]
 [ 1  0  0 37]
 [ 0  0  1 45]]

In [17]:
from pandas.io.sql import DatabaseError
#Step 4b: Use dummy variables from pandas library
#         to create one column for each country

dummy=pd.get_dummies(datasets['Country'])
print(dummy)
datasets=datasets.drop(['Country','Purchased'],axis=1)
datasets=pd.concat([dummy,datasets],axis=1)
print(datasets)

KeyError: ignored

In [21]:
#Use OneHotEncoder from scikit learn
onehotencoder=OneHotEncoder()
# reshape the 1-D cpuntry array to 2-D as fit_transform expects 2-D and
# finally fit the object

x=onehotencoder.fit_transform(datasets.Country.values.reshape(-1,1)).toarray()
x

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [23]:
dfOneHot = pd.DataFrame(x, columns = 
                        ["Country_"+str(int(i)) 
                        for i in range(datasets.shape[1]-1)])
df = pd.concat([datasets, dfOneHot], axis=1) #column
#droping the country column
df= df.drop(['Country'], axis=1)
#printing to verify
print(df.head())

   Age  Salary Purchased  Country_0  Country_1  Country_2
0   44   72000        No        1.0        0.0        0.0
1   27   48000       Yes        0.0        0.0        1.0
2   30   54000        No        0.0        1.0        0.0
3   38   61000        No        0.0        0.0        1.0
4   40   68000       Yes        0.0        1.0        0.0

In [25]:

#4.3 Steps for Handling the missing value

from sklearn.impute import SimpleImputer

datasets=pd.read_csv('/content/drive/MyDrive/SEM-6/Ml/Lab2/Data_for_Missing_Values.csv')
print(datasets)
print(datasets.describe())

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
3     Spain  38.0  61000.0        No
4       NaN   NaN      NaN       NaN
5   Germany  40.0      NaN       Yes
6    France  35.0  58000.0       Yes
7     Spain   NaN  52000.0        No
8    France  48.0  79000.0       Yes
9   Germany  50.0  83000.0        No
10   France  37.0  67000.0       Yes
11    Spain  45.0  55000.0        No
             Age        Salary
count  10.000000     10.000000
mean   39.400000  62900.000000
std     7.515909  11892.574714
min    27.000000  48000.000000
25%    35.500000  54250.000000
50%    39.000000  59500.000000
75%    44.750000  70750.000000
max    50.000000  83000.000000

In [26]:
# Step 3: Seprate Input and Output attributes
# All rows, all columns except last
X = datasets.iloc[:, :-1].values
# Only last column
Y = datasets.iloc[:, -1].values
print("\n\nInput : \n", X)
print("\n\nOutput: \n", Y)

Input :
 [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 [nan nan nan]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]
 ['Spain' 45.0 55000.0]]


Output:
 ['No' 'Yes' 'No' 'No' nan 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'No']

In [28]:
# Step 4: Find the missing values and handle it in either way
# 4a. Removing the row with all null values
datasets.dropna(axis=0,how='all',inplace=True)
print(datasets)

#4b. Removing the row with any one null values
#datasets.dropna(axis=0,how='any',inplace=True)

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
3     Spain  38.0  61000.0        No
5   Germany  40.0      NaN       Yes
6    France  35.0  58000.0       Yes
7     Spain   NaN  52000.0        No
8    France  48.0  79000.0       Yes
9   Germany  50.0  83000.0        No
10   France  37.0  67000.0       Yes
11    Spain  45.0  55000.0        No

In [30]:
updated_df = datasets;
updated_df['Age']=updated_df['Age'].fillna(updated_df['Age'].mean())
updated_df.info()
updated_df['Age'].fillna(updated_df['Age'].mean())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 11
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    11 non-null     object
 1   Age        11 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchased  11 non-null     object
dtypes: float64(2), object(2)
memory usage: 440.0+ bytes

0     44.0
1     27.0
2     30.0
3     38.0
5     40.0
6     35.0
7     39.4
8     48.0
9     50.0
10    37.0
11    45.0
Name: Age, dtype: float64

In [32]:
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")
# Fitting the data, function learns the stats
imputer = imputer.fit(X[:, 1:3])
# fit_transform() will execute those stats on the input ie. X[:, 1:3]
X[:, 1:3] = imputer.transform(X[:, 1:3])
# filling the missing value with mean
print("\n\nNew Input with Mean Value for NaN : \n\n", X)

New Input with Mean Value for NaN :

 [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 [nan 39.4 62900.0]
 ['Germany' 40.0 62900.0]
 ['France' 35.0 58000.0]
 ['Spain' 39.4 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]
 ['Spain' 45.0 55000.0]]

# **Exercise:**
1) Perform all data preprocessing tasks and feature selection on "Exercise-CarData.csv" Hint: Check
"na_values" attribute of pd.read()

In [34]:
import numpy as np
import pandas as pd

data=pd.read_csv('/content/drive/MyDrive/SEM-6/Ml/Lab2/Exercise-CarData.csv')
print(data)
data.describe()

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

,Unnamed: 0,Price,Age,MetColor,Automatic,CC,Weight
count,1436.000000,1436.000000,1336.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,717.500000,10730.824513,55.672156,0.674961,0.055710,1566.827994,1072.45961
std,414.681806,3626.964585,18.589804,0.468572,0.229441,187.182436,52.64112
min,0.000000,4350.000000,1.000000,0.000000,0.000000,1300.000000,1000.00000
25%,358.750000,8450.000000,43.000000,0.000000,0.000000,1400.000000,1040.00000
50%,717.500000,9900.000000,60.000000,1.000000,0.000000,1600.000000,1070.00000
75%,1076.250000,11950.000000,70.000000,1.000000,0.000000,1600.000000,1085.00000
max,1435.000000,32500.000000,80.000000,1.000000,1.000000,2000.000000,1615.00000